
/*banner图部分*/
#banner{width:100%;}
#banner .playbg{width:100%;height:350px;position:relative;}
#banner .b_img{width:100%;height:350px;overflow: hidden;position:relative;}
#banner .b_img li{width:100%;position:absolute;left:0;top:0;transition: transform 2.5s;transform: scale(1.05);z-index: 0;}
#banner .b_img li a{width:100%;height:350px;display: block;}
#banner .b_img li a img{width:100%;height:350px;display: block;}
#banner .b_img li.banner_bg{transform: scale(1);}
#banner .box_index{position:absolute;left:50%;bottom:20px;margin-left:-40px;z-index: 190;}
#banner .box_index li{float:left;width:10px;height:10px;background: gray;margin-left:10px;cursor: pointer;}
#banner .box_index li.bgcolor{background:red}

/*mainbody主体内容*/
#mainbody{width:100%;background: #f6f6f3;padding-bottom:34px;} 
#mainbody .mainbody{padding-top:20px;}
#mainbody .mainbody .shop_list{margin-bottom: 20px;}
#mainbody h2{font-size: 24px;height:60px;line-height: 60px;text-align: center;}
#mainbody .s_list_img{float:left;width:650px;height:350px;}
#mainbody .s_list_img:hover{opacity: 0.8;}
.s_list_img a,.s_list_img a img{display: block;width:650px;height:350px;}
#mainbody .s_list_con{float:left;width:350px;height:325px;padding:25px 50px 0;background:#fff;}
#mainbody .s_list_con .ctime{text-align: center;font-size:14px;color:#000;margin-bottom: 26px;}
#mainbody .s_list_con .cname{color:#6c6c6c;line-height: 26px;margin-bottom: 60px;}
#mainbody .s_list_con .cbuy{height:36px;margin-bottom: 10px ;}
#mainbody .s_list_con .cbuy .cb_price{float:left}
#mainbody .s_list_con .cbuy .cb_price i{float:left;font-style:normal;font-size:20px;margin-top:2px;color:#000;font-family: "微软雅黑";}
#mainbody .s_list_con .cbuy .cb_price span{float:left;font-size: 36px;color:#000;font-family: Arial;}
#mainbody .s_list_con .cbuy .cb_btn{float:right;background: #ff643c;text-align: center;}
#mainbody .s_list_con .cbuy .cb_btn:hover{opacity: 0.9;}
#mainbody .s_list_con .cbuy .cb_btn a{display:block;width:140px;height:36px;line-height: 36px;font-size:20px;font-family:"微软雅黑";color:#fff;}
#mainbody .s_list_con .cbuyer p{float:right;font-size:12px;color:#c4c4c4;}
/*mainbody的品牌内容*/
#mainbody .brand{position:relative;margin-bottom: 20px;}
#mainbody .brand_nav{height:49px;line-height:49px;font-size:14px;color:#000;border-bottom: 1px solid #6c6c6c;margin-bottom: 12px;}
#mainbody .brand_nav a{float:right;font-size: 12px;color:#6c6c6c;}
#mainbody .brand_nav li{float: left;width:140px;line-height: 50px;position: relative;font-family: "微软雅黑";font-weight: bold;text-align: center;cursor: pointer;}
#mainbody .brand_nav li i{display:none;height:2px;width:140px;background: #00c8ff;position:absolute;left:0;top:48px;}
/*mainbody的品牌列表*/
#mainbody .brand_con .bc_page{display: none;}
#mainbody .brand_con .bc_page_left{float:left;width:840px;}
#mainbody .brand_con .bc_page_right{float:right}
#mainbody .brand_con .bc_page_left li{float:left;margin-right:8px;margin-bottom:5px;}
#mainbody .brand_con .bc_page_left li a img{width:160px;height:102px;}
/*mainbody品牌中的点击按钮*/
#mainbody .brand_leftbtn{font-size:40px;color:#878e96;z-index:100;position:absolute;bottom: 90px;right:230px;cursor: pointer;}
#mainbody .brand_rightbtn{font-size:40px;color:#878e96;z-index:100;position:absolute;bottom:90px;right:8px;cursor: pointer;}
/*mainbody中新品信息：今日新品*/
#newpro h3{height:60px;line-height: 60px;font-weight: normal;font-size:18px;color:#000;font-family: "微软雅黑";}
#newpro h3 span{font-family: arial;}
#newpro .new_img{position:relative;}
#newpro .new_img img{width:350px;height:350px}
#newpro .new_img:hover{opacity: 0.8;}
#newpro .new_img:hover .new_img_hide{display: block;}
#newpro .new_img_hide{display:none;position:absolute;left:134px;bottom:0;width:80px;height:26px;text-align: center;border:1px solid #00c8ff;z-index:130}
#newpro .new_img_hide a{display: block;line-height: 26px;color:#00c8ff;font-size: 12px;}
#newpro .new_img .mask_layer{width:350px;height:350px;position:absolute;left:0;top:0;background:rgba(0,0,0,0.4);display:none;z-index:10;}
#newpro ul.n_list{display:flex;justify-content: space-between;flex-wrap: wrap;}
#newpro .n_list li{width:350px;background: #fff;margin-bottom: 25px;}
#newpro .n_list .new_info{padding:0 20px;}
#newpro .n_list .iname{height:40px;margin-top:10px;}
#newpro .n_list .iname a{display: block;line-height: 20px;font-size:12px;color:#6c6c6c;}
#newpro .ibuy{padding:18px 0;border-bottom: 1px dashed #c4c4c4;}
#newpro .ibuy_price{float: left;font-size:26px;color:#ff643c;font-family:arial;}
#newpro .ibuy_price i{font-size:12px;font-family: "微软雅黑";font-style: normal;}
#newpro .ibuy_btn{float:right;width:90px;height:26px;background:#ff643c;font-size:12px;line-height: 26px;text-align: center;}
#newpro .ibuy_btn a{color:#FFFFFF;width:90px;height:26px;}
#newpro .sale_end{height:40px;line-height: 40px;overflow: hidden;font-size: 12px;color:#c4c4c4}
#newpro .sale_time{padding-left:22px;background:url(../img/mainbody_newinfo_clock.jpg) left center no-repeat;float:left}
#newpro .sale_time span{padding-left:10px;}
#newpro .sale_count{float:right}
/*mainbody中的nav*/
.mb_nav{background:#fff;margin:34px 0 0;}
.mb_nav .main_nav{padding:30px 0;width:615px;margin:0 auto}
.mb_nav .main_nav .search_txt{width:510px;}
